# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & Secrets (CRÍTICO)
.env
.env.local
.env.*.local

# Virtual Environments & Tooling
.venv/
.cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Logs
*.log

# Database local
*.sqlite3
*.db

# Django Static / Media files gerados
staticfiles/
media/

# IDEs & Editors
.vscode/
.idea/
*.swp
*~